body {

    background-image: url(IndexBGImage.jpeg) ;
    background-position: right center;
    margin: 0 ;
    font-family: "Yatra One";
    
    }
    
    header{
        text-align: center;
        color: rgb(155, 46, 16);
        background-color: rgb(201, 172, 129);
        outline : 9px solid rgb(155, 46, 16);
    }
    
    .Home{
      background-color:rgb(244, 213, 176);
      outline: 3px solid rgb(155, 46, 16);
      margin: 2em 0em 2em 0em;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction:row ;
      justify-content: space-between;
      color: rgb(155, 46, 16);
    
    }

    .Home h2, a{
      margin : 0.5em;
      color: rgb(155, 46, 16);
    }
    
    .Home h2{
         margin-left: 2em; 
    }

    a{
      margin : 0.5em;
      color: rgb(155, 46, 16);
      text-decoration: none;
      &:hover{
        color:blueviolet ;
      }
    }
     
    .Links{
      margin-right: 3em;
      list-style: none;
      display: flex;
      justify-content: center;
      transform: translateY(10%);
      text-decoration: none;
      padding-right: 3em;
    }

    .Links li{
      position: relative;
    }
  
    .dropmenu{
      position: absolute;
      align-items: center;
      padding: 0.5em;
      top: 100%;
      left: 0;
      width: 105px;
      list-style: none;
      background-color: rgb(244, 213, 176);
      outline: 3px solid rgb(155, 46, 16);
      z-index: 1000;
      display: none;
    }

    .drop:hover .dropmenu{
      display: block;
    }
