body {

    background-image: url(IndexBGImage.jpeg) ;
    background-position: right center;
    margin: 0 ;
    font-family: "Yatra One";
    
    }
    
    header {
        text-align: center;
        color: rgb(155, 46, 16);
        background-color: rgb(201, 172, 129);
        outline : 9px solid rgb(155, 46, 16);
    }
    
    .Home{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      height: 45vh;
      color: rgb(155, 46, 16);
    
    }
    
    .Text{
       margin-top: 5em;
       background-color: rgb(244, 213, 176) ;
       padding-left: 2.85em;
       padding-right: 2.85em;
       outline: 3px solid rgb(155, 46, 16) ;
    
    }